.navbar {
  background-color: #10443b;
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.navbar a {
  color: #ffd700;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.navbar a:hover {
  background-color: #0a2e26;
}

@media (max-width: 768px) {
  .navbar {
    gap: 1rem;
    padding: 1em;
  }
}
